# Python
__pycache__/
*.py[cod]

# Virtual Environment
.venv/
venv/

# Secrets
.env

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# PyCharm
.idea/

# Models
models/
*.pkl
*.joblib

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db